node_modules
dist
out-tsc
.vscode
.angular
.husky
.editorconfig
.gitignore
.eslintignore
.eslintrc.json
.lintstagedrc.js
.prettierignore
.prettierrc
angular.json
package.json
package-lock.json
tailwind.config.js
tsconfig.app.json
tsconfig.json
tsconfig.spec.json
README.md
LICENSE