<div class="mx-auto mt-3 flex h-full w-9/12 flex-col">
  <div class="flex-1">
    <h1>Angular 17 Starter Template</h1>
    <hr />
    <h2>Author</h2>
    <a href="https://github.com/JakeBisson8">Jake Bisson</a>
    <h2>About</h2>
    <p>This is a very basic Angular 17 starter template that comes pre-configured with TailwindCSS, Angular Material, ESLint, Prettier and Husky</p>
    <h2>Getting Started</h2>
    <p>
      As this is a very basic starter template, you are free to do what you please from this point onwards. The template comes with a simple folder structure that you may choose to use or modify based on your project preferences. The following is the
      structure and the intended purpose of each folder (but you probably could've guessed what they would store already):
    </p>
    <ul>
      <li><code>components/</code>: holds all re-usable components</li>
      <li><code>guards/</code>: holds all guards (i.e. authorization guards)</li>
      <li><code>interceptors/</code>: holds all interceptors (i.e. HTTP interceptors)</li>
      <li><code>models/</code>: holds all typescript models</li>
      <li><code>pages/</code>: holds all components representing pages</li>
      <li><code>services/</code>: holds all services</li>
    </ul>
    <p>You may clear this template your are currently viewing in <code>./src/pages/home-page/home-page.component.html</code> file to get started building your application's home page.</p>
    <p class="my-3"><code>npm run start</code> to start the development server.</p>

    <h2>Technology</h2>
    <ul>
      <li>Angular 17</li>
      <li>Typescript</li>
      <li>TailwindCSS</li>
      <li>Angular Material</li>
      <li>ESLint</li>
      <li>Prettier</li>
      <li>Husky</li>
      <li>lint-staged</li>
    </ul>
    <h2>Commands</h2>
    <h3>Develop</h3>
    <p>
      Run development server<br />
      <code>npm run start</code>
    </p>
    <p>
      Build project<br />
      <code>npm run build</code>
    </p>
    <p>
      Build project in watch mode <br />
      <code>npm run watch</code>
    </p>
    <h3>Lint</h3>
    <p>
      Lint and don't apply fixes<br />
      <code>npm run lint</code>
    </p>
    <br />
    <p>
      Lint and apply fixes <br />
      <code>npm run lint:fix</code>
    </p>
    <h3>Format</h3>
    <p>
      Check for formatting errors<br />
      <code>npm run prettier:check</code>
    </p>
    <br />
    <p>
      Fix formatting errors <br />
      <code>npm run prettier:write</code>
    </p>
    <h3>Test</h3>
    <p>
      Run tests<br />
      <code>npm run test</code>
    </p>
    <h2>Git Hooks</h2>
    <h3 class="text-xl">Pre-Commit</h3>
    <p>
      Runs prettier and eslint against files matching <code>./src/**/*.{{ '{' }}ts,html{{ '}' }}</code>
    </p>
    <h2>GitHub Repository</h2>
    <a href="https://github.com/JakeBisson8/angular-17-app-template">angular-17-app-template</a>
    <h2>License</h2>
    <a href="https://choosealicense.com/licenses/mit/">MIT</a>
  </div>
  <div class="mt-auto">
    <p class="my-3 text-center text-gray-500">Jake Bisson</p>
  </div>
</div>
