<div>
  <h1 class="my-3 text-center text-3xl">Angular 17 Starter Template!</h1>
  <p class="my-3 text-center text-gray-500">Created by: Jake Bisson</p>
  <hr />
  <div class="mx-auto mt-3 w-9/12">
    <h2 class="text-2xl">About</h2>
    <p>This is a very basic Angular 17 starter template that comes pre-configured with TailwindCSS, Angular Material, ESLint, Prettier and Husky</p>
    <h2 class="mt-3 text-2xl">Technology</h2>
    <ul class="list-inside list-disc">
      <li>Angular 17</li>
      <li>TailwindCSS</li>
      <li>Angular Material</li>
      <li>ESLint</li>
      <li>Prettier</li>
      <li>Husky</li>
    </ul>
    <h2 class="mt-3 text-2xl">GitHub Repository</h2>
    <a href="https://github.com/JakeBisson8/angular-17-app-template" class="text-blue-600 underline hover:text-blue-800">angular-17-app-template</a>
  </div>
</div>
